.button
  height: 100%
  font-weight: bold
  color: #fff
  background-color: #F92801
  border: 2px solid #F92801
  border-radius: 30px
  outline: none
  transition-property: background-color
  transition-property: color
  transition: 0.5s
  padding: 0 30px
  &:hover
    color: #000
    background-color: #fff